.div1 {
  -webkit-transition: 1s linear;
  transition: 1s linear; }

.div1:hover {
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

.div2 {
  -webkit-transition: 1s linear;
  transition: 1s linear; }

.div2:hover {
  -webkit-transform: rotateZ(30deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateX(50deg);
  transform-style: preserve-3d; }

.div3 {
  transition-property: all;
  transition-duration: 2s; }

.div3:hover {
  filter: blur(5px); }

.div4:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

.div5 {
  -webkit-transition: 1s linear;
  transition: 1s linear; }

.div5:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg); }

.div6 {
  -webkit-transition: 1s linear;
  transition: 1s linear; }

.div6:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(15deg);
  -webkit-transform: rotate(10deg); }

body {
  font-size: 20px; }

* {
  padding: 0;
  margin: 0; }

.title {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #0c2232;
  background-color: #143852;
  display: flex; }

.centrar {
  margin: auto;
  display: block;
  max-width: 220px;
  max-height: 100%; }

.pegatina {
  margin: 10px;
  max-width: 50%;
  max-height: 50%; }

header {
  background-image: linear-gradient(to right top, #143852, #0c2232, #2c2594);
  padding: 10px; }

.navbar-collapse {
  flex-grow: initial; }

.navbar-dark .navbar-nav .nav-link {
  color: #ec9f10;
  font-size: 1.5rem; }

footer h3 {
  margin-bottom: 30px;
  font-weight: 800; }

footer .footer-above {
  padding-top: 50px;
  background-color: #2c3e50; }

footer .footer-col {
  margin-bottom: 50px; }

footer .footer-below {
  padding: 25px 0;
  background-color: #233140; }

iframe {
  display: block;
  margin: auto; }

/* navegacion */
.sectionUno {
  background-color: #050505;
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  list-style-type: none;
  grid-area: header; }

/* navegacion */
/* Cuerpo */
.sectionDos {
  border: #38968e;
  background-color: #0e2634;
  display: grid;
  grid-template-rows: repeat(2, 0.5fr);
  list-style-type: none; }

/* Cuerpo */
/* titulo */
h1 {
  color: #ec9f10;
  text-align: center;
  font-size: 75px;
  background-color: #0c2232; }

h1::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: #ec9f10;
  top: 0.6em; }

h1::before {
  left: -140px; }

h1::after {
  right: -140px; }

/* titulo */
img {
  width: 90%;
  display: block;
  margin: auto; }

p {
  margin: 30px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #0e2634; }

.container {
  position: relative; }

.tango {
  margin: 80px; }

.calle {
  margin: 50px; }

.columna {
  float: left;
  width: 50%;
  padding-right: 5px; }

.fila::after {
  content: "";
  clear: both;
  display: table; }

.parrafo {
  display: grid;
  grid-template: max-content;
  background: #ec9f10;
  padding: 1em;
  border: 1px solid salmon; }

/* contacto */
.contacto {
  background-image: url(../img/Imagen-0-IM_2015_090_0183.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0; }

form {
  width: 450px;
  margin: auto;
  background: #0e2634;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  grid-area: footer; }

/* contacto */
h2 {
  color: #e1e42a;
  text-align: center;
  margin: 0px;
  font-size: 30px;
  margin-bottom: 20px; }

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

/* mapa */
.map.map {
  height: 400px;
  width: 100%; }

.indexBody {
  background-color: #0c2232; }

/* media queries */
@media (min-width: 576px) {
  .wrapper {
    flex-direction: column; }
  .box {
    width: 90%; } }

@media (min-width: 992px) {
  .wrapper {
    flex-direction: column; }
  .box {
    width: 90%; } }

@media (min-width: 1200px) {
  .wrapper {
    flex-direction: column; }
  .box {
    width: 90%; } }

@media (max-width: 610px) {
  .wrapper {
    flex-direction: column; }
  .box {
    width: 90%; } }
